<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="content-fundo parallax"><img class="content-img item" data-velocityy="5" data-velocityx="5" src="./img/comece.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="content-fundo parallax"><img class="content-img item" data-velocityy="5" data-velocityx="5" src="./img/desenhar.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="content-fundo parallax"><img class="content-img item" data-velocityy="5" data-velocityx="5" src="./img/inovacao.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="content-fundo parallax"><img class="content-img item" data-velocityy="5" data-velocityx="5" src="./img/apoio.png" alt=""></div>
        </div>
    </div>
</section>