
<div class='row no-gutters'>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                front
            </div>
            <div class="back">
                back
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-2">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
</div>
