<div class='row no-gutters'>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1 class="pergunta">Is this your </br>question card?</h1>
                <div>
                    <span>
                        <button class="yes animated infinite pulse">yes</button>
                    </span>
                    <span>
                        <button class="no animated infinite pulse">no</button>
                    </span>
                </div>
            </div>
            <div class="back">
                <h2>SUCCESS</h2>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                front
            </div>
            <div class="back">
                back
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
    <div class="flip-container col-3">
        <div class="flipper">
            <div class="front">
                <h1>front</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
            <div class="back">
                <h1>back</h1>
                <p>Lorem Lorem Lo Lorem Lorem</p>
            </div>
        </div>
    </div>
</div>