<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>


<header id="header">
    <div id="teste">
        <div class="header-agua"></div>
        <div class="header-agua" data-depth="0.08">
            <div id="fundo"></div>
        </div>
        <div class="header-agua" data-depth="0.15">
            <div id="textlogo">
                <h1>desenvolvimento</h1>
            </div>
        </div>
        <div class="header-agua" data-depth="0.4">
            <div id="agua02"></div>
        </div>
        <div class="header-agua" data-depth="0.6">
            <div id="agua03"></div>
        </div>
    </div>
</header>



<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div id="teste1" class="content-fundo"><img data-depth="0.5" class="content-img" src="./img/comece.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div id="teste1" class="content-fundo"><img data-depth="0.5" class="content-img" src="./img/desenhar.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div id="teste1" class="content-fundo"><img data-depth="0.5" class="content-img" src="./img/inovacao.png" alt=""></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div id="teste1" class="content-fundo"><img data-depth="0.5" class="content-img" src="./img/apoio.png" alt=""></div>
        </div>
    </div>
</section>

<div style="overflow: hidden;">
    <lottie-player data-100="left:-20%;" data-500="left:42%;" src="https://assets2.lottiefiles.com/packages/lf20_oV72KM.json" background="transparent" speed="1" style="width: 200px; height: 200px; position: relative" loop autoplay>
    </lottie-player>
</div>


<h1 class="animated infinite bounce flavio_point" style="color: #ffffff;  margin-top: 60px; text-align: center;font-family: cursive;text-transform: lowercase; font-size: 20px">Nova estrutura de Projeto para InfoGrafico</h1>


<div data-200="background-color:rgb(255,255,255);transform:rotate(0deg);" data-800="background-color:rgb(255,255,0);transform:rotate(360deg);" style="border-radius: 10px; margin: auto; height: 50px; width: 50px;"></div>

<div style="height: 800px; width: 200px; background-color: black;"></div>