<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/scorm.api.min.js"></script>
<script src="./js/skrollr.min.js"></script>
<script src="./js/parallax.min.js"></script>
<script src="./js/style.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
    var tes = document.querySelectorAll('.content-fundo');
    var scene = document.getElementById('teste');

    tes.forEach((item, teste) => {
        var parallaxInstance = new Parallax(item, {
            relativeInput: false
        });
    });
    var parallaxInstance = new Parallax(scene, {
        relativeInput: false,
        scalarY: 3
    });
    var skrollr = skrollr.init();
</script>

</body>

</html>