<header id="header">
    <div class="parallax header-box">
        <div class="header-agua item" data-velocityy="1" data-velocityx="1">
            <div id="fundo02"></div>
        </div>
        <div class="header-agua item" data-velocityy="2" data-velocityx="2">
            <div id="textlogo">
                <h1>desenvolvimento</h1>
            </div>
        </div>
        <div class="header-agua item" data-velocityy="4" data-velocityx="4">
            <div id="estrela"></div>
        </div>
        <div class="header-agua item" data-velocityy="2" data-velocityx="5">
            <div id="lua"></div>
        </div>
        <div class="header-agua item" data-velocityy="5" data-velocityx="6">
            <div id="aviao"></div>
        </div>
        <div class="header-agua item" data-velocityy="3" data-velocityx="11">
            <div id="city"></div>
        </div>
    </div>
</header>