/* entire container, keeps perspective */

.flip-container {
    perspective: 1000;
    transform-style: preserve-3d;
    width: 100%;
    padding: 0 5px !important;
    margin: 10px 0;
}

.flip-container:hover {
    zoon: 1;
}


/*  UPDATED! flip the pane when hovered */

.flip-container.is-flipped .back {
    transform: rotateY(0deg);
}

.flip-container.is-flipped .front {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    height: 200px;
    display: inline-block;
}


/* flip speed goes here */

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    transition: all 1s cubic-bezier(.5, 1.3, .5, 1.3);
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*  UPDATED! front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
    background: #fff;
    border-radius: 10px;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(-180deg);
    background: lightblue;
    background: #fff;
    border-radius: 10px;
}


/* 
	Some vertical flip updates 
*/

.vertical.flip-container {
    position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.flip-container.is-flipped .back {
    transform: rotateX(0deg);
}

.vertical.flip-container.is-flipped .front {
    transform: rotateX(180deg);
}

.flipper h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #222;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 20px;
}

.flipper h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateZ(20px);
    font-size: 27px;
    color: #009a00;
    letter-spacing: 5px;
}

.flipper p {
    text-align: center;
    font-size: 12px;
}

.flipper button.yes {
    width: 80px;
    background: linear-gradient(to left, #18ff3f 20%, #00caca);
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    box-shadow: 0px 2px 6px 0px #333;
    outline: none;
}

.flipper .front div {
    position: relative;
}

.flipper button.no {
    width: 80px;
    background: linear-gradient(to left, #ff6b3e, #ff5200);
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0px 2px 6px 0px #333;
    outline: none;
}